<%- include('partials/head') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="/css/invite.css">
<div class="container" id="shift" style="position: relative;">
    <div class="content">
        <div class="inbox">
            <% if (invite.length>0) { %> <% for( let i = 0; i < invite.length; i++ ) { %>
            <div class="mails" id="mail-<%= i %>">
                <h2 class="rname">From: <%= invite[i].roomName %> </h2>
                <p class="rmem">
                    <%= invite[i].senderName %>(@<%= invite[i].senderUsername %>) has inivited you to join
                    <%= invite[i].roomName %>
                </p>
                <div class="s">
                    <a class="buttons btn-accept" href="/invitation/<%= invite[i]._id %>/accept ">Accept <i
                            class="fas fa-check"></i></a>
                    <a class="buttons btn-decline" href="/invitation/<%= invite[i]._id %>/decline ">Decline <i
                            class="fas fa-times"></i></a>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <div class="error-txt">
                <h2 class="txt">
                    No invites pending...
                    <i class="fas fa-exclamation"></i>
                </h2>
            </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('partials/bottomnav') %>
<script>
    function changebtns() {
        const btns = document.getElementsByClassName('buttons')
        for (let index = 0; index < btns.length; index++) {
            const btn = btns[index];
            if (window.innerWidth <= 360) {
                if (btn.classList.contains('btn-accept')) {
                    btn.innerHTML = `<i class="fas fa-check"></i> `
                } else {
                    btn.innerHTML = `<i class="fas fa-times"></i> `
                }
            } else {
                if (btn.classList.contains('btn-accept')) {
                    btn.innerHTML = `Accept <i class="fas fa-check"></i> `
                } else {
                    btn.innerHTML = ` Decline <i class="fas fa-times"></i> `
                }
            }
        }
    }
    changebtns()

</script>